body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    padding: 8px;
    margin-bottom: 100px;
    border: 2px solid black;
    justify-content: center;
}

.about-me-picture {
    width: 200px;
    height: auto;
}

.about-me-content {
    justify-content: center;
    width: 400px;
    height: auto;
}

.my-work-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    background-image: url(../Downloads/freddie-marriage-vSchPA-YA_A-unsplash.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.my-work-title {
    padding: 10px;
    grid-column: span 3;
}

.my-work-box {
    border: 1px solid red;
    height: 100px;

}

.footer {
    display: flex;
    margin-top: 50px;
}